<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2016 Obeo.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
 	Obeo - initial API and implementation
 
-->

<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="fr.obeo.dsl.minidrone.ui.toolbar"
               label="Minidrone">
            <command
                  commandId="fr.obeo.dsl.minidrone.ui.command.new"
                  icon="icons/alt_window16.gif"
                  label="New"
                  style="push"
                  tooltip="New">
            </command>
            <command
                  commandId="fr.obeo.dsl.minidrone.ui.command.sync"
                  icon="icons/alt_window16.gif"
                  label="Sync"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="fr.obeo.dsl.minidrone.ui.command.new"
            name="New">
      </command>
      <command
            id="fr.obeo.dsl.minidrone.ui.command.sync"
            name="Sync">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.obeo.dsl.minidrone.ui.command.NewHandler"
            commandId="fr.obeo.dsl.minidrone.ui.command.new">
      </handler>
      <handler
            class="fr.obeo.dsl.minidrone.ui.command.SyncHandler"
            commandId="fr.obeo.dsl.minidrone.ui.command.sync">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="fr.obeo.dsl.minidrone.ui.perspective.MinidronePerspectiveFactory"
            fixed="true"
            id="fr.obeo.dsl.minidrone.ui.perspective"
            name="Minidrone">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="fr.obeo.dsl.minidrone.ui.perspective">
      </perspectiveExtension>
   </extension>
</plugin>
